<div class="row reg-header">
  Thank you for choosing to be a member of CartStash. This wizard will guide you through the registration process.
</div>

<div class="row">
    <div class="col-md-6 col-xs-12">

    </div>
    <div class="col-md-6 col-xs-12">

    </div>
</div>