<div class="container-fluid">
  <div class="row receipt-header">
    <div class="col-md-4 cs-receipt-logo">
        <%= image_tag "images/receipt-logo.png", alt: "Receipt Logo" %>
    </div>
  </div>
</div>