<div class="main">
  <%= render layout: 'layouts/accounts_sidebar' do %>
    <div class="row add-delivery-address-header">
      <div class="col-md-12 header-title">
          Add Delivery Address
      </div>
    </div>
  <% end %>
</div>