<div class="main">
  <div class="row order-placed-msg">
    <div class="col-md-2">
      <span class="confirm-check"></span>
    </div>
    <div class="col-md-10 msg">
      Thank you, your order has been placed
    </div>
  </div>
  <div class="confirmation-number">

  </div>
</div>
