<%= render layout: 'layouts/categories_sidebar' do %>
    <div class="col-md-10">
      <%= image_tag "checkout_stage_1.png" %>
      <div class="row">
        <div class="col-md-9 centered">
          <span class="delivery-address-title">Select Delivery Address</span>
        </div>
        <div class="col-md-2">
          <%= link_to "", {:action => "select_schedule"}, class: "btn btn-default" do %>

          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-2">

    </div>
<% end %>