@import 'buttons';

.account-sidebar {
	.account-sidebar-menu {
		padding: 10px 0px 10px 0px;
		font-size: 14px;

		a {
			color: #fff;
			text-decoration: none;
		}
	}	
}

.user-profile-form .action-btn-group {
  padding-left: 15px;
}

.save-account-info {
  @extend .cartstash-btn;
  width: 80px;
}