/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require sweet-alert
 *= require bootstrap-datepicker3
 *= require fullcalendar
 *= require bootstrap-select
 *= stub print
 */

@import "bootstrap-sprockets";
@import "bootstrap";

html {
  height:100%;
}

body {
  background-image: linear-gradient(90deg, #678FBC 0%, #5650A9 100%);
  background-size: 100% 100%;
  width:      100%;
  height:     100%;
  z-index:    10;
  top:        0;
  left:       0;
  font-family: "Century Gothic";
  padding-top: 75px;
  padding-bottom: 70px;
}

.container{
  min-height:100%;
}

.navbar-fixed-top {
    background: #2B2938;
	border-color: transparent;
	min-height: 75px;
}

.login {
  height: 45px;
  width: 104px;
  border: none;
  margin-top: 15px;
}

.signup-btn {
  width: 104px;
  height: 45px;
  border: none;
  margin: 15px 0px 0px 10px;
  background: url('images/signup-btn.png');
}

.login-btn {
  width: 84px;
  height: 30px;
  border: none;
  margin: 20px 0px 0px 10px;
  background: url('images/login-btn.png') no-repeat center;
}

.login-btn2 {
  background: url("images/login-btn2.png") no-repeat center;
  width: 100px;
  margin-top: 13px;
  @extend .login;
}

.removeitem-btn {
  height: 14px;
  width: 14px;
  border: none;
  background: url("images/redx.png") no-repeat center;
}

.user-info-btn {
  background: none;
  color: #fff!important;
  margin-top: 15px;
}

.user-info-btn:hover {
  color: #fff;
}

.user-info {
  margin-top: 10px;

  a {
    color: #fff;
  }
}

.product-search-header {
  margin-top: 15px;
  margin-left: 50px;
  font-family: "Century Gothic";

  li a {
    color: #fff!important;
  }

  .product-search {
    background: #EFF1F7;
    border-radius: 8px;
    height: 45px;
    padding-left: 15px;
    border: none;
  }

  .product-search-btn {
    width: 45px;
    height: 45px;
    border: none;
    margin-left: 10px;
    background: url('images/global-search-btn.png');
  }
}

a.order-summary:hover {
  text-decoration: none;
}

.order-summary {

  button[type="submit"] {
    margin: 15px 0px 0px 10px;
    width: 150px;
    height: 45px;
    background: #EFF1F7;
    border-radius: 8px;
    border: none;
    float: left;
    padding: 0px 0px 0px 0px;
  }

  .amount-summary {
    font-family: 'Century Gothic';
    font-size: 18px;
    font-weight: bold;
  }

  .down-arrow {
    height: 10px;
    width: 10px;
    border: none;
    float: right;
    margin: 10px 10px 0px 0px;
    background: url("images/down-arrow.png") no-repeat center;
  }

  .popover {

    max-width: 320px;

    .popover-content .row {
      color: #2B2938;
    }

    .popover-content .cart-item {
      margin-bottom: 10px;

      div {
        padding-left: 0px;
        padding-right: 0px;
      }

      div.col-md-12 {
        padding-left: 10px;
      }
    }

    .cart-item {

      .add-item {
        width: 15px;
        height: 17px;
        display: block;
        margin-top: 3px;
      }

      .reduce-item {
        width: 15px;
        height: 17px;
        display: block;
        margin-top: 3px;
      }

      .remove-item {
        background: url(images/remove-item.png) no-repeat 0px center;
        width: 18px;
        height: 18px;
        display: block;
        margin-top: 15px;
      }

      .sub-total {
        padding-left: 5px!important;
      }
    }
  }
}

.qty-arrow {
  color: #2B2938;
}

.categories-sidebar, .account-sidebar-menu {

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  ul li {
    margin-top: 10px;
  }

  ul li a {
    color: #ffffff;
    font-weight: bold;
  }

  li {
    background:url('images/menu-separator.png') no-repeat top right;
  }
}

.cs-menu-icon {
  margin-top: 20px;
}

.cs-logo {
	margin-top: 15px;
}

.cs-menu-icon-bar {
  background-color: #fff!important;
}

.cs-m-logo {
  border: none;
}

@media screen and (max-width: 480px) {
  .cs-logo {
    display: none;
  }
}

.main {
//  margin-top: 40px;
}

.product-box {
  background-color: rgba(255,255,255,0.5);
  height: 150px;
  margin: 10px 10px 0px 0px;
  border-radius: 8px;
}

.navbar-fixed-bottom {
  background-color: rgba(255,255,255,0.2);
  border-color: transparent;
  min-height: 100px;
}
.pagination {
  font-family: "Century Gothic";
  font-size: 14px;

  .page a, .next a, .last a, .first a, .prev a, .page {
    color: #fff;
  }

  .current {
    color: #1DA9DC!important;
    font-size: 16px;

  }
}

.content {
  padding-bottom: 30px;
}

.footer{
  height:40px;
  min-height: 100px;
  background-color: #2B2938;
  border-color: transparent;
}

.footer-row {

  margin-top: 25px;

  a {
    color: #fff;
  }

  .social-links {
    margin-top: 15px;
    a {
      padding-right: 10px;
    }
  }

  .info-links {
    padding-bottom: 10px;
  }
}

.product-img {
  margin-top: 5px;
}

.product-description {
  color: #000;
  margin-top: 5px;
}

.pad-left-none {
  padding-left: 5px!important;
}

.product-choices-row{

  border-bottom: 1px solid #fff;

  .category-header {
    float:left;
  }

  .see-all {
    font-size: 12px;
    margin-top: 15px;
    float:right;
    font-weight: bold;

    a {
      color: #fff;

      :after {
        margin-left: 5px;
        content: url('images/menu-separator.png');
      }
    }
  }
}

.item-row {
  margin-bottom: 20px;
}

.product-item {
  height: 230px;
  border-radius: 8px;
  border: none;
  background: #F1EBF6;
  margin: 10px 10px 0px 0px;

  .row:first-child {
    margin-top: 5px;
  }

  .order-qty {
    height: 30px;
    border-radius: 4px;
    border: none;
    background-color: #88A4FF;
    font-size: 16px;
    font-weight: bold;
    color: #fff!important;
    text-align: center;
    margin-left: 5px;
    padding: 5px;
  }

  .row div {
    color: #595959;

  }

  .row:nth-child(2) {
    min-height: 50px;
    padding: 5px;
  }

  img {
    margin-left: 10px;
  }

  .add2cart {
    padding-left: 5px;

    input[type="submit"] {
      height: 30px;
      width: 100px;
      border: none;
      border-radius: 4px;
      font-size: 14px;
      font-weight: bold;
      color: #fff!important;
      padding-left: 20px;
      background: #88A4FF url('images/cart-icon-btn.png') no-repeat 5px 5px;
    }
  }
}

.tooltip-inner {
  font-size: 14px;
  color: #fff!important;
}

.checkout-btn-container {
  text-align: center;
  margin-top: -15px;

  .checkout-btn {
    width: 168px;
    height: 38px;
    border: none;
    background: url('images/checkout-btn.png');
    display: inline-block;
  }
}

.ajax-login-form {
  background-color: #F1EBF6;

  .modal-title {
    color: #6E49A4;
    font-weight: bold;
  }

  input[type="email"],
  input[type="password"],
  .ajax-signin-btn {
    height: 40px;
    border-radius: 6px;
    border: none;
  }

  .ajax-signin-btn {
    width: 100%;
    background-color: #88A4FF;
  }

  .checkbox label {
    color: #6E49A4;
  }

  .login-or-label {
    color: #6E49A4;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
  }

  .social-login {
    margin-top: 10px;
    text-align: center;
  }
}
