// Place all the styles related to the Checkout controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.review-order {
  font-size: 20px;
  padding-bottom: 5px;
}

.table {

  border-top: 1px solid #fff;

  thead tr td {
    font-weight: bold;
  }

  tbody tr td {
    border-top: none!important;
    font-size: 12px;
  }

  .total-price-row {
    border-top: 1px solid #fff;
    .total-price {
      font-weight: bold;
    }
  }
}

.review-order-table {
  margin-bottom: 0px!important;
}

.pm-header-label {
  border-bottom: 1px solid #fff;

  .pm-choose-label {
    font-size: 16px;
  }

  .pm-add-label {
    font-size: 12px;
    text-align: right;
  }
}

.pm-options .row {
  margin-top: 10px;
  font-size: 12px;
}

.chkout-action-top {
  padding-bottom: 5px;
}

.payment-method-checkbox {
  margin-bottom: 0px!important;
  margin-top: 0px!important;
}

.sched-deliver-btn {
  background-color: rgba(184, 233, 134, 0.8);
  height: 34px;
  color: #000;
  font-size: 12px!important;
  font-weight: bold!important;
  width: 80px;
  border: none;
}

.checkout-section-header {
  padding-bottom: 5px;
  border-bottom: 1px solid #fff;
  font-size: 20px;
  padding-bottom: 5px;
}

.del-address {
  background-color: rgba(255,255,255,0.3);
  height: 150px;
  margin: 10px 10px 0px 0px;
  border-radius: 8px;
  padding-top: 5px;

  .del-name {
    font-weight: bold;
    font-size: 16px;
  }

  .primary-num {
    margin-top: 5px;
  }
}

.del-address:hover {
  cursor: pointer;
}

.checkout-del-schedule {
  margin-top: 30px;
}

.schedule-picker {
  .schedule-table {
    .title {
      font-size: 16px;
    }
  }
}

.schedule-table {
  border-top: none!important;
}

.selectable-cell:hover {
  background-color: rgba(184, 233, 134, 0.3);
}
