// Place all the styles related to the Checkout controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'buttons';

.section-header {
  border-bottom: 1px solid #fff;
}

.review-order {
  font-size: 20px;
  padding-bottom: 5px;
}

.table {

  thead tr td {
    font-weight: bold;
  }

  tbody tr td {
    border-top: none!important;
    font-size: 12px;
  }
}

.discount-field {
  color: #2B2938;
  width: 100px;
}

.order-summary-table {
  .add-item {
    background: url(images/arrow-up.png) no-repeat 0px center;
    width: 15px;
    height: 17px;
    display: block;
    margin-top: 3px;
  }

  .reduce-item {
    background: url(images/arrow-down.png) no-repeat 0px center;
    width: 15px;
    height: 17px;
    display: block;
    margin-top: 3px;
  }

  .remove-item {
    background: url(images/remove-item.png) no-repeat 0px center;
    width: 18px;
    height: 18px;
    display: block;
  }
}


td.amount-lbl {
  text-align: right;
}


.pm-options .row {
  margin-top: 10px;
  font-size: 12px;
}

.chkout-action-top {
  padding-bottom: 5px;
}

.payment-method-checkbox {
  margin-bottom: 0px!important;
  margin-top: 0px!important;
}

.sched-deliver-btn {
  @extend .cartstash-btn;
  width: 80px;
}

.delivery-address-header {
  padding-bottom: 5px;
  border-bottom: 1px solid #fff;

  .checkout-section-header {
    font-size: 20px;
  }

  .add-address-link {
    margin-top: 5px;

    a {
      color: #fff!important;
      font-size: 12px;
    }
  }
}

.delivery-schedule-section {
  margin-top: 30px;

  .header {
    padding-bottom: 5px;
    border-bottom: 1px solid #fff;
    font-size: 20px;
  }
}

.del-address {
  background-color: rgba(255,255,255,0.3);
  height: 150px;
  margin: 10px 10px 0px 0px;
  border-radius: 8px;
  padding-top: 5px;

  .del-name {
    font-weight: bold;
    font-size: 16px;
  }

  .primary-num {
    margin-top: 5px;
  }

  .del-addr {
    margin-top: 5px;
  }
}

.del-address:hover {
  cursor: pointer;
}

.checkout-del-schedule {
  margin-top: 30px;
}

.schedule-picker {
  margin-top: 20px;

  .fc-right h2 {
    font-size: 18px;
    font-weight: bold;
  }

  .fc-unthemed  .fc-today {
    background-color: rgba(255,255,255,0.3)!important;
  }
}

.schedule-table {
  border-top: none!important;

  td {
    width: 8.33%;
  }
}

.selectable-cell:hover {
  background-color: rgba(184, 233, 134, 0.3);
}

.greencheck {
  background: url("images/greencheck.png") no-repeat center;
  height: 20px;
  width: 30px;
}

.line-items {
  background-color: rgba(255,255,255,0.5);
  overflow-y: auto;
  height: 630px;
  margin-top: 50px;
  border-radius: 4px;
  padding: 0 15px 15px;
}

.line-item {
  font-size: 12px;
  padding-bottom: 5px;
}

.item-desc {
  color: #000;
  padding-left: 0px;
}

.tx-summary {
  color: #000;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 0px 5px;
  font-family: Verdana, Geneva, sans-serif;
  border-bottom: 1px solid #625B64;
}

.items-list-hdr {
  @extend .tx-summary;
  margin-bottom: 10px;
}

.total-cost {
  margin-top: 15px;
  font-size: 12px;
  font-weight: bold;
  padding-left: 0px;
  color: #000;
}

.total-cost-amt {
  border-bottom: 1px solid #625B64;
}

.checkout-btn {
  @extend .cartstash-btn;
  width: 100px;
}

.checkout-btn-row {
  padding-left: 5px;
}

.checkout-row {
  padding-bottom: 5px;
}

.order-placed-msg {
  text-align: center;

  .msg {
    vertical-align: middle;
    color: #B8E986;
    font-size: 32px;
  }
}

.confirm-msg {
  margin-top: 30px;

  .confirm-number a {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
  }

  .row:first-child {
    margin-bottom: 30px;
  }
}

a.link {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}

a.link:hover {
  color: #fff;
  text-decoration: underline;
}

.order-summary-alert {
  .alert {
    padding: 5px;
    font-size: 12px;
  }
}

.widget-column .widget-window:not(:first-child) {
  margin-top: 20px;
}

.widget-window {
  border-radius: 5px;
  min-height: 150px;
  background: #F1EBF6;

  .widget-header {
    margin-top: 5px;
    padding-left: 5px;
    border-bottom: 1px solid #979797;
    color: #535C67;

    .label-header {
      font-size: 14px;
      color: #535C67;
      padding: 0px 0px 0px 0px;
      font-weight: bold;
    }

    .add-option {
      text-align: right;
      margin-top: 3px;
      font-size: 10px;
      font-weight: bold;
      padding: 0px 0px 0px 0px;
    }
  }

  .payment-option {
    color: #535C67;
    margin-top: 5px;
  }

  .option-label {
    font-size: 12px;
    font-weight: bold;
  }
}

.confirm-order-btn {
  margin-top: 10px;

  button {
    @extend .cartstash-btn2;
    width: 100%;
  }
}

#delivery-window .modal-content {
  background-color: #F1EBF6;
  color: #535C67;
  width: 300px;

  .modal-title {
    color: #6E49A4;
    font-weight: bold;
  }

  .confirm-delivery-time {
    margin-top: 10px;
    height: 40px;
    border-radius: 6px;
    border: none;
    width: 83%;
    background-color: #88A4FF;
    font-weight: bold;
    color: #fff;
  }
}
