// Place all the styles related to the DeliveryAddress controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'buttons';

.add-delivery-address-header {
	padding-left: 25px;

	.header-title {
		font-size: 20px;
		border-bottom: 1px solid #fff;
	}	
}

.new-delivery-address-form {
  padding-left: 25px;
  padding-top: 5px;
}

.map {
  width: 800px;
  height: 400px;
}

.action-btn-group .btn {
  margin-top: 10px;
}

.save-delivery-address-btn {
  @extend .cartstash-btn;
  width: 80px;
}