.row {
  color: #fff;
  margin-top: 20px;
}

.centered {
  text-align: center;
}

.launch-countdown {
  font-size: 40px;
  @extend .centered;
}

.reg-header {
  font-size: 16px;
  @extend .centered;
}

.main {
  margin-top: 90px!important;
}

.outer-div {
  background-color: rgba(92, 70, 60, 0.5);
  height: 900px;
  width: 100%;
}

.signup-btn {
  background: url("images/sign-up-btn.png") no-repeat center;
  height: 50px;
  width: 125px;
  border: none;
}

.signup-btn-row {
  text-align: center;
}

.cs-description {
  margin-top: 25px;
}

.launch-countdown {
  margin-top: 110px!important;
}

.checkbox label a {
  color: #fff;
}

.new_user_registration_form {
  margin-top: 50px;

  input[type='text'], input[type='password'], .input-ctrl {
    height: 50px;
    border-radius: 4px;
  }

  .btn {
    width: 100%;
    background-color: rgba(184, 233, 134, 0.8);
    @extend .input-ctrl
  }
}

.vertical-divider {
  margin-top: 40px;
  height: 300px;
  border-right: 1px solid #fff;
}