.row {
  color: #fff;
  margin-top: 20px;
}

.launch-countdown {
  font-family: "Century Gothic";
  font-size: 40px;
  text-align: center;
}

.main {
  margin-top: 90px!important;
}

.outer-div {
  background-color: rgba(92, 70, 60, 0.5);
  height: 900px;
  width: 100%;
}

.signup-btn {
  background: url("images/sign-up-btn.png") no-repeat center;
  height: 50px;
  width: 125px;
  border: none;
}

.signup-btn-row {
  text-align: center;
}

.cs-description {
  margin-top: 50px;
}