.row {
  color: #fff;
}

.centered {
  text-align: center;
}

.launch-countdown {
  font-size: 40px;
  @extend .centered;
}

.invitation-text {
  margin-top: 50px;
}

.footer-row {
  margin-top: 20px;
}

.reg-header {
  margin-top: 50px;
  font-size: 16px;
  @extend .centered;
}

.outer-div {
  background-color: rgba(92, 70, 60, 0.5);
  height: 900px;
  width: 100%;
}

.signup-btn {
  background: url("images/sign-up-btn.png") no-repeat center;
  height: 50px;
  width: 125px;
  border: none;
}

.signup-btn-row {
  text-align: center;
  margin-top: 50px;
}

.cs-description {
  margin-top: 50px;
}

.checkbox label a, .reg-links {
  color: #fff;
}

.new_user_registration_form, .new_user {
  margin-top: 50px;

  input[type='email'], input[type='password'], .input-ctrl {
    height: 50px;
    border-radius: 4px;
  }

  .btn {
    width: 100%;
    background-color: rgba(184, 233, 134, 0.8);
    @extend .input-ctrl
  }
}

.vertical-divider {
  @extend .reg-margin-top;
  height: 270px;
  border-right: 1px solid #fff;
}

.social-signin {
  margin-top: 10px;
}

.sign-up-forms {
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .reg-margin-top {
    margin-top: 150px;
  }

  .social-signin-btns {
    padding-top: 120px;
  }
}

.confirm-acct-msg {
  margin-top: 100px;

  div {
    background-color: #D4ECE6;
    width: 500px;
    margin-left: 350px;

  }
}

.prelaunch-flash-area {

  position: relative;

  .notice {
    color: rgba(184, 233, 134, 0.8);
    font-size: 24px;
    width: 100%;
    text-align: center;
  }

  .alert {
    color: rgba(184, 233, 134, 0.8);
    font-size: 24px;
    width: 100%;
    text-align: center;
  }
}