body {
  background: none;
  padding-top: 10px;
  padding-bottom: 0px;
}

.row {
  color: #000;
}

.cs-address {
  text-align: justify;
}

.cs-receipt-label {
  font-size: 14px;
  padding-top: 35px;
  padding-right: 0px;
  font-weight: bold;
}

.cs-receipt-ref {
  padding-top: 35px;
  font-weight: bold;
}

.receipt-delivery-details {
  padding-top: 5px;

  .del-address-label, .receipt-header-label {
    font-size: 14px;
    padding-left: 0px;
    padding-top: 5px;
    font-weight: bold;
  }

  .del-address-recipient {
    padding-left: 0px;
    font-size: 12px;
  }

  .receipt-delivery-date {
    padding-left: 0px;
    font-size: 12px;
  }
}

.item-detail-title {
  font-size: 14px;
  padding-top: 20px;
  font-weight: bold;
}

.receipt-sales-order-items {
  th {
    font-size: 12px;
    border-bottom: 1px solid #000!important;
  }

  .receipt-grand-total {
    text-align: right;
    font-weight: bold;
  }
}

.receipt-grandtotal-row {
  border-top: 1px solid #000;
}

.system-generated-receipt {
  text-align: center;
  font-size: 12px;
  margin-top: 20px;
}