<div class="main">
  <%= render layout: 'layouts/accounts_sidebar' do %>
      <div class="row user-profile-header">
        <div class="col-md-12 header-title">
          My Account
        </div>
      </div>
  <% end %>
</div>