<div class="main">
  <div class="row">
    <div class="col-md-2 categories-sidebar left-menu">
      <ul>
      <% @categories.each do |category| %>
          <li>
            <%= link_to category[:name], product_category_path(:category => category[:slug]) %>
          </li>
      <% end %>
      </ul>
    </div>
    <div class="col-md-10">
      <%= yield %>
    </div>
  </div>
</div>
