<div class="row reg-complete">
 Thank you so much! Your registration is now complete.
</div>

<div class="row reg-complete-text">
  <p>
    We couldn't appreciate you so much for having faith in us. Be assured that we will keep you updated of any development
    and that the membership fee that you have contributed will go a long way and will help us get off the ground in order to
    bring you a worry free and convenient grocery shopping experience.
  </p>
</div>

