<div class="row reg-complete">
  <div class="col-md-1 col-xs-1"></div>
  <div class="col-md-10 col-xs-10">
    Thank you so much! Your registration is now complete.
  </div>
  <div class="col-md-1 col-xs-1"></div>
</div>

<div class="row reg-complete-text">
  <div class="col-md-1 col-xs-1"></div>
  <div class="col-md-10 col-xs-10">
    <p>
      We couldn't appreciate you so much for having faith in us. The membership fee covers for the operation
      expenses in order to bring you the cheapest, worry free grocery shopping experience.
    </p>
  </div>
  <div class="col-md-1 col-xs-1"></div>
</div>

<div class="row margin-top-15">
  <div class="col-md-1 col-xs-1"></div>
  <div class="col-md-10 col-xs-10">
    <p>
      Spread the word! Invite your friends and loved ones to sign up and enjoy the hassle free grocery shopping experience. In addition you get to earn
      Php 100.00 credit for every successful registration. Share the invitation token below with them and ask them to key it in when they sign up.
    </p>
  </div>
  <div class="col-md-1 col-xs-1"></div>
</div>

<div class="row">
  <div class="col-md-4 col-xs-2"></div>
  <div class="col-md-4 col-xs-8">
    <div class="form-group invite-token">
      <input type="text" value="Invitation Token: <%= session[:access_token] %>" readonly="readonly" class="form-control"/>
    </div>
  </div>
  <div class="col-md-4 col-xs-2"></div>
</div>

