<div class="row reg-complete">
  Thank you so much! Your registration is now complete.
</div>

<div class="row reg-complete-text">
  <p>
    We couldn't appreciate you so much for having faith in us. Be assured that we will keep you updated of any
    development
    and that the membership fee that you have contributed will go a long way and will help us get off the ground in
    order to
    bring you a worry free and convenient grocery shopping experience.
  </p>
</div>

<div class="row margin-top-15">
  <p>
    Spread the word! Invite your friends and loved ones to sign up and earn Php 100.00 credit for every successful
    registration. Share the invitation token below with them and ask them to key it in when they sign up.
  </p>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="form-group invite-token">
        <input type="text" value="Invitation Token: <%= session[:access_token] %>" readonly="readonly" class="form-control"/>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>

</div>

