<section class="confirm-acct-msg">
  <div>
    Thank you for signing up with CartStash grocery. We have sent a confirmation mail to your email account.
    Please check your inbox and click on the confirm button.
  </div>
</section>