<section class="row mem-fee-msg">
    <div>
      Congratulations! Hang on, almost there. Please select your preferred payment method for your membership fee.
      You will be charged Php 999.99 for that, but we promise you will get it back through discounts and fuel savings
      in no time - If not, we will refund you. Simple as that.
    </div>
</section>
<section class="row">
  <div class="col-md-6">

  </div>
  <div class="col-md-6">

  </div>
</section>